<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
    <title>SPQR Point</title>
</head>
<body>
    <nav>
        <div class="blue-logo">SPQR</div>
        <div class="gray-logo">Point</div>
        <div class="nav-link">Profile</div>
        <img src="src/images-1.jpg" class="nav-image">
    </nav>
    <section class="all-messages">
    <div class="message-input">
        <input type="text" name="message" placeholder="What's on your mind?">
    </div>
        <section class="all-boxes">
        <div class="profile-box1">
            <div class="profile-names1">
                <div class="names1">Joan Bennett</div>
                <div class="profile-messages1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio reiciendis velit impedit animi unde cupiditate id quibusdam quam natus cumque?
                </div>
            </div> 
        </div>
        <div class="profile-box2">
            <div class="profile-names2">
                <div class="names2">Max Richman</div>
                <div class="profile-messages2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio reiciendis velit impedit animi unde cupiditate id quibusdam quam natus cumque?
                </div>
            </div>
        </div>
        <div class="profile-box3">
            <div class="profile-names3">
                <div class="names3">Simon Haynes</div>
                <div class="profile-messages3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio reiciendis velit impedit animi unde cupiditate id quibusdam quam natus cumque?
                </div>
            </div>
            </div>
            <div class="profile-box4">
                <div class="profile-names4">
                    <div class="names4">Max Richman</div>
                    <div class="profile-messages4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio reiciendis velit impedit animi unde cupiditate id quibusdam quam natus cumque?
                </div>
                </div>
            </div>
        </section>
        </section>
    </body>
</html>