<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/edit.css' %}">
    <title>Document</title>
</head>
<body>
    <form action='edit' method='POST' enctype="multipart">
        {% csrf_token %}
        <input type='file' name='docfile' required>
        <button>Upload</button>
    </form>
    {% for document in documents reversed %}
    <section>
        <img src="{{ document.docfile.url }}" alt='Img'>
        
    </section>
    {% endfor %}
</body>
</html>