.blue-logo {
    width: 64px;
    height: 28px;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", "System Default", serif;
    color: #0f34ff;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    position: absolute;
    top: 30px;
    left: 20px;
}
input {
    max-width: 581px;
    height: 31px;
    overflow: visible;
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #656667; 
    display: flex; 
}
@media(min-width: 350px) and (max-width: 700px) {
    .gray-logo {
        visibility: hidden; 
    }
} 
.nav-link {
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", serif;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
    position: absolute; 
    left: 275px;
    top: 37px;
}
.message-input {
    position: relative;
    top: 70px;
}
.names1 {
    width: 123px;
    height: 22px;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", "System Default", serif;
    color: #1c1c1c;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.1;
    font-weight: 600;
}
.profile-messages1 {
    width: 270px;
    height: 48px;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", serif;
    color: #4d4d4d;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2; 
    display: flex; 
    text-align: justify;
}
.profile-box1 {
    max-width: 581px;
    height: 156px;
    overflow: visible;
    background-color: #feeb45;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
    /*position: relative;  
    top: 100px;
    right: 10px;*/
}
.profile-names1 {
    position: relative;  
    left: 80px;
    top: 35px;
}
.profile-box2 {
    max-width: 581px;
    height: 163px;
    overflow: visible;
    background-color: #feeb45;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
    /*position: relative;  
    top: 130px;
    right: 10px; */ 
}
.profile-names2 {
    position: relative;  
    left: 80px;
    top: 40px;
}
.names2 {
    width: 125px;
    height: 22px;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", "System Default", serif;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.1;
    font-weight: 600;
}
.profile-messages2 {
    width: 270px;
    height: 48px;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", serif;
    color: #4d4d4d;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;  
}
.profile-box3 {
    max-width: 581px;
    height: 163px;
    overflow: visible;
    background-color: #feeb45;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
    /*position: relative;  
    top: 160px; 
    right: 10px; */
}
.profile-names3 {
    position: relative;  
    left: 80px;
    top: 40px;
}
.names3 {
    width: 125px;
    height: 22px;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", "System Default", serif;
    color: #000000;
    font-size: 18.5px;
    letter-spacing: 0px;
    line-height: 1.1;
    font-weight: 600;   
}
.profile-messages3 {
    width: 270px;
    height: 48px;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", serif;
    color: #4d4d4d;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
}
.profile-box4 {
    max-width: 581px;
    height: 156px;
    overflow: visible;
    background-color: #feeb45;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25); 
    /* position: relative;  
    top: 190px;
    right: 10px;  */
}
.profile-names4 {
    position: relative;  
    left: 80px;
    top: 40px;
}
.names4 {
    width: 123px;
    height: 22px;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", "System Default", serif;
    color: #1c1c1c;
    font-size: 19.6px;
    letter-spacing: 0px;
    line-height: 1.1;
    font-weight: 600;  
}
.profile-messages4 {
    width: 270px;
    height: 48px;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", serif;
    color: #4d4d4d;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
}
.nav-image {
    border-radius: 50%;
    width: 30px;
    height: 29px;
    object-fit: cover;
    position: absolute;
    top: 30px;
    left: 325px;  
}
.all-messages {
    display: flex;
    justify-content: space-between;
}
.all-boxes {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
@media (min-width: 750px) {
    /* input {
        width: 425px;
        height: 38px;  
    }
    .message-input {
        position: relative;
        top: 70px;
        left: 65px;  
    }
    .all-messages {
        position: relative;
        left: 220px;
        top: 90px;
    }
    .profile-box1 {
        width: 434px;
        height: 156px;
        position: relative; 
        left: 65px; 
    }
    .profile-box2 {
        width: 434px;
        height: 156px;
        position: relative;
        left: 65px;  
    } 
    .profile-box3 {
        width: 434px;
        height: 156px;
        position: relative;
        left: 65px;  
    } 
    .profile-box4 {
        width: 434px;
        height: 156px;
        position: relative;
        left: 65px;  
    }  
    .nav-link {
        position: absolute; 
        left: 275px;
        top: 37px;  
    }  
    .nav-image {
        position: absolute;
        top: 30px;
        left: 950px;  
    } 
    .nav-link {
        position: absolute; 
        left: 889px;
        top: 37px;
    } */
    .blue-logo {
        font-size: 36px;  
    } 
    .gray-logo {
        width: 239px;
        height: 57px;
        font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif", "System Default", serif;
        color: #656667;
        font-size: 36px;
        letter-spacing: 0px;
        line-height: 1.2;
        font-weight: 400; 
        position: absolute; 
        left: 120px;
        top: 30px;  
    }       
}
